.section__circle {
    width: 100px;
    height: 100px;
    background-color: #35133b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    margin: 20px auto;
    transition: .5s ease;
    cursor: pointer;
}
.section__circle:hover{
    transform: rotate(360deg);
}