.about-section__wrapper {
  /* background-color: #926c15; */
  z-index: 1000;
  position: relative;
  top: 70px;
  padding: 20px 0;
}

@media only screen and (max-width: 1024px) {
  .about-section__wrapper {
    top: -70px;
  }
}
