.footer-section {
    position: relative;
    top: 200px;
    background-color: #926c15;
    color: #fff;
    /* padding: 50px 5%; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.footer-heading{
    max-width: 30%;
}
.footer-center, .social-icons {
    padding-top: 40px;
}
.footer-center .navbar-links__container {
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
 .footer-section {
     top: 0px;
 }
  }